<div class="container">

  <div class="search-box">
    <input [(ngModel)]="city" type="text" placeholder="Search city" />
    <button (click)="search()">See Weather</button>
  </div>

  <p *ngIf="loading">Loading...</p>
  <p *ngIf="error" class="error">{{error}}</p>


  <!-- weather card -->
  <div *ngIf="weatherData" class="weather-card">

    <div class="upper-div">

      <div class="location">
        <h1>{{weatherData.location.name}}</h1>
        <h3>{{weatherData.location.country}}</h3>
      </div>

      <div class="temp-div">
        <h1>{{ weatherData.current.temp_c }} &deg;C</h1>

        <h3> Feels like {{ weatherData.current.feelslike_c}}</h3>

      </div>

    </div>


    <!-- more info card -->
    <div class="info-box">
      <h4>More info</h4>

      <div class="info-grid">
        <!-- humidity -->
        <div class="info-item">
          <div class="icon"><img src="/drop-icon.svg" alt=""></div>
          <div class="meta">
            <span class="label">Humidity</span>
            <span class="value">{{weatherData.current.humidity}} %</span>
          </div>
        </div>

        <!-- wind -->
        <div class="info-item">
          <div class="icon"><img src="/wind-icon.svg" alt=""></div>
          <div class="meta">
            <span class="label">Wind</span>
            <span class="value">{{weatherData.current.wind_kph}} km/h</span>
          </div>
        </div>

        <!-- precipitation -->
        <div class="info-item">
          <div class="icon"><img src="/cloud-rain-icon.svg" alt=""></div>
          <div class="meta">
            <span class="label">Precipitation</span>
            <span class="value">{{weatherData.current.precip_mm}} mm</span>
          </div>
        </div>

        <!-- pressure -->
        <div class="info-item">
          <div class="icon"><img src="/pressure-gauge-meter-icon.svg" alt=""></div>
          <div class="meta">
            <span class="label">Pressure</span>
            <span class="value">{{weatherData.current.pressure_mb}} mb</span>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>